.popular-summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.swiper {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}
