.popular-summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.swiper {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

.nav_dropdown {
  -webkit-overflow-scrolling: touch;
}
.nav_mobile-back-wrap {
  position: -webkit-sticky !important;
  position: sticky !important;
}
